* {
    background-color: white;
    box-sizing: border-box;
}

/* Homepage Main*/
main {
    display: block;
    text-align: center;
    margin: 150px auto 150px auto;
}
h1, h2, h3 {
    font-family: 'Anton', sans-serif;
    color: #EF7427;
}
h1 {
    font-size: 5vw;
    text-align: center;
}
h2 {
    margin-block-end: 0;
    font-size: 3vw;
}
main p {
    font-family: sans-serif;
    font-size: 1.8vw;   
    margin-block-end: 36px;
    line-height: 1.5;
}
hr {
    color: burlywood;
    width: 50%;
    margin: 100px auto 100px auto;
}

/* Navigation Bar*/ 
header p {
    font-size: 2vw;
    width: 11.7em;
    position: fixed;
    color: #EF7427;
    background-color: transparent;
}
header p#contact-email {
    transform: rotate(90deg);
    bottom: 9em;
    right: -3.0em;
    text-align: right;
    text-decoration: underline;
}
header p#full-name {
    top: 0em;
    left: 0em;
    text-align: right;
    font-family: 'Anton', sans-serif;
}
header p#full-name a:visited, header p#full-name a:link, header p#contact-email a:visited, header p#contact-email a:link, nav a:link {
    color: #EF7427;
    text-decoration: none;
}
header p#job-title {
    transform: rotate(-90deg);
    top: 9em;
    left: -3.0em;
    text-align: right;
}
header nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
}
header nav ul {
    display: block;
    position: absolute;
    right: 50px;
}
header nav ul li {
    display: inline-block;
    margin-left: 1em;
    list-style-type: none;
}
header nav ul li a {
    width: auto;
}
a:visited, a:link {
    color: #EF7427;
    text-decoration: underline;
}

/* Covid-Tracker*/
iframe {
    border-radius: 10px;
    border: none;
    background-color: #eee;
}
.sg {
    margin: 0 auto;
}
pre {
    font-family: monospace;
    margin: 20px auto;
    width: 50%;
    text-align: left;
    line-height: 1.15;
    font-size: 12px;
    background-color: #eee;
    border-radius: 10px;
    max-height: 250px;
    overflow: auto;
    white-space: pre-line;
    word-wrap: break-word;
}

/* Media Stylings */
@media only screen and (max-width: 600px) {
    hr {
        margin: 50px auto 50px auto;
    }
    main p {
        font-size: 3vw;  
    }
    header p#full-name {
        display: none;
    }
    nav {
        font-size: small;
    }
    header nav, header p#contact-email, header p#job-title {
        font-size: 12px;
    }
    .map {
        width: 100%;
        max-height: 150vw;
    }
    pre {
        max-height: 200px
    }
}
@media only screen and (max-height: 450px) {
    .map {
        width: 100%;
        height: 80vw;
    }
}
